<!DOCTYPE html>
<html>
<!-- https://cn.vuejs.org/v2/   全部依据该文档 -->

<head>
    <meta charset="utf-8">
    <title></title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="vue.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div id="app">
        <!-- 模板语法，获取模型值 -->
        {{ message }}
    </div>
    ---------------<br>
    <div id="app-2">
        <!-- Mustache：{{}},语法不能作用属性上，使用vbind绑定属性来让vue传递数值。v-on:click类似！！ -->
        <!-- 动态参数[],v-on:['eventName'] -->
        <span v-bind:title="message">
            鼠标悬停查看动态提示信息
        </span>
    </div>
    ---------------<br>
    <div id="app-3">
        <!-- 条件控制 -->
        <p v-if="canSee">根据条件你是否能看到我？</p>
    </div>
    ---------------<br>
    <div id="app-4">
        <ol>
            <!-- 遍历数据 -->
            <li v-for="(todo,index) in todos">
                {{todo.task}},{{index}}
            </li>
        </ol>
    </div>
    ---------------<br>
    <div id="app-5">
        <p>{{message}}</p>
        <!-- 绑定事件 -->
        <button v-on:click="reverseMess">反转消息</button>
        <!-- 这里可以增加计算属性:computed: { function(){....} } -->
    </div>
    ---------------<br>
    <div id="app-6">
        <p>
            {{app6Mes}}
        </p>
        <!-- 表单输入与应用的双向绑定 -->
        <!-- v-model会忽略初始input textarea select的初始值，使用data申明初始值。单选按钮，复选框，下拉菜单，等 -->
        <input type="text" v-model="app6Mes">
    </div>

    ---------------<br>
    <div id="app-7">
        <ol>
            <!-- 定义组件，给组件传递数据使用prop，  建议使用vFor一定要之美名key属性！！！！ -->
            <task-items v-for="item in todoTaskList" v-bind:task="item" v-bind:key="item.id"></task-items>
        </ol>
    </div>

    ---------------<br>
    <!-- https://cn.vuejs.org/images/lifecycle.png   生命周期钩子 -->


    ---------------<br>

    ---------------<br>

    <script type="text/javascript">

        // 定义组件，给组件传递数据使用prop
        Vue.component('taskItems', {
            props: ['task'],
            template: '<li>{{task.text}}</li>'
        })
        var app7 = new Vue({
            el: '#app-7',
            data: {
                todoTaskList: [
                    { text: 'xuexi', priority: 9, id: 0 },
                    { text: 'exerise', priority: 4, id: 1 },
                    { text: 'lol', priority: 3, id: 2 }
                ]
            }
        })

        var app6 = new Vue({
            el: '#app-6',
            data: {
                app6Mes: 'zsx learn vue app6'
            },
            //生命周期钩子
            created: function () {
                console.log('message is: ' + this.message);
            }
        })

        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello zsx!!!'
            },
            methods: {
                reverseMess: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            },
        })

        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        })

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: '页面加载了，时间是：' + new Date().toLocaleString()
            }
        })

        var app3 = new Vue({
            el: '#app-3',
            data: {
                canSee: true
            }
        })

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    { task: 'xuexi' },
                    { task: 'working' },
                    { task: 'eating' }
                ]
            }
        })
    </script>
</body>

</html>